{% extends "layout.html" %}
{% block main %}
<h2>History</h2>
<table class="table">
  <thead><tr><th>Type</th><th>Symbol</th><th>Name</th><th>Shares</th><th>Price</th><th>Date</th></tr></thead>
  <tbody>
    {% for r in rows %}
    <tr>
      <td>{{ "BUY" if r.shares > 0 else "SELL" }}</td>
      <td>{{ r.symbol }}</td>
      <td>{{ r.name }}</td>
      <td>{{ r.shares }}</td>
      <td>{{ r.price | usd }}</td>
      <td>{{ r.transacted }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
